pkgbase = bottles
	pkgdesc = Easily manage wine and proton prefix
	pkgver = 2022.8.28
	pkgrel = 1
	url = https://github.com/bottlesdevs/Bottles
	arch = any
	license = GPL3
	makedepends = meson
	makedepends = ninja
	depends = cabextract
	depends = dconf
	depends = gtksourceview3
	depends = gtksourceview4
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libhandy
	depends = lib32-gnutls
	depends = python
	depends = python-gobject
	depends = python-markdown
	depends = python-requests
	depends = python-yaml
	depends = p7zip
	depends = webkit2gtk
	depends = wine
	depends = xorg-xdpyinfo
	depends = patool
	optdepends = gamemode
	optdepends = gvfs
	optdepends = lib32-vkd3d
	optdepends = lib32-vulkan-icd-loader
	optdepends = vkd3d
	optdepends = vulkan-icd-loader
	source = bottles-2022.8.28.tar.gz::https://github.com/bottlesdevs/Bottles/archive/refs/tags/2022.8.28-brescia-2.tar.gz
	sha512sums = 711b697eaeb85da827ba9f24ee39f7e309ccdf41e8be633bc0b03715eaf5a16fda4994d59b2915db456a05c87ffa2077d1d71906305011e41000d702326992ab

pkgname = bottles
